.Dictionary {
  display: block;
  margin: 40px auto;
}

.Dictionary h1 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 48px;
}

.Dictionary form {
  margin: 10px auto;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #c2c1c1;
  border-radius: 4px;
  color: #554a43;
}

.Dictionary section {
  background: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.Dictionary .hint {
  font-size: 11px;
}
